01ddd.insfrastructure/bin/
01ddd.insfrastructure/obj/
02ddd.domain/bin/
02ddd.domain/obj/
03ddd.respository/bin/
03ddd.respository/obj/
04ddd.service/bin/
04ddd.service/obj/
ddd.interface/bin/
ddd.interface/obj/
